@charset "utf-8";

@media (max-width: 991px) {
.container {
    max-width: 100vw!important;
    width:100vw!important;
    padding-right:0px!important;
    padding-left:0px!important;
    margin-right:0px!important;
    margin-left:0px!important;    
}
}

.addPadding {padding:15px 0}

ol li,
h1,
p {font-weight:300
}

em {display:block; /*animation: blinker 1s linear infinite;*/}
button.btn-link,
a {color:#000;font-weight:500}

ol li {list-style-position: inside;}

button.btn-link:hover,
a:hover {color:#303030}


@keyframes blinker {
  25% {
    opacity: 0.75;
	 color:#800000;
  }
}
